Repository Alokskj/Instahost: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write --ignore-unknown, npm run lint

fix: testing webhook
  src/index.ts
Due: npm run lint:fix, prettier --write --ignore-unknown

fix: update Docker run command and add hostname validation in reverse proxy middleware
  .github/workflows/docker.yml
  src/middlewares/reverseProxy.middleware.ts
Due: npm run lint:fix, prettier --write --ignore-unknown

chore: shift to cloudflare r2
  client/tsconfig.node.json
  src/config/_config.ts
  src/config/s3Client.ts
  src/middlewares/reverseProxy.middleware.ts
  src/services/uploadImageToS3.service.ts
Due: npm run lint:fix, prettier --write --ignore-unknown

fix: Fixed and added interactivity
  .github/workflows/docker.yml
  client/index.html
  client/src/components/layout/Footer.tsx
  client/src/components/layout/header/Header.tsx
  client/src/components/layout/header/Navigation.tsx
  client/src/components/ui/github-stars-button.tsx
  client/src/features/project/create/components/CreateProjectFrom.tsx
  client/src/features/project/create/components/DeploymentGuide.tsx
  client/src/features/project/manage/components/DomainSettings.tsx
  client/src/hooks/useAutoToast.ts
  client/src/index.css
  client/src/lib/constant.ts
  client/src/lib/funnyToastMessages.ts
  client/src/pages/Layout.tsx
  client/src/pages/home/Home.tsx
  client/src/pages/home/sections/CTASection.tsx
  client/src/pages/home/sections/FeaturesSection.tsx
  client/src/pages/home/sections/HowItWorksSection.tsx
  client/src/pages/home/sections/PricingSection.tsx
  client/src/pages/home/sections/heroSection/heroSection/HeroSection.tsx
  client/src/pages/project/create/CreateProject.tsx
Due: npm run lint

fix: disable noUnusedLocals and noUnusedParameters in TypeScript configuration
  client/tsconfig.app.json
  client/tsconfig.app.tsbuildinfo
  client/tsconfig.node.json
Due: none

fix: remove outdated CI/CD workflow and update Docker workflow; adjust max free project limit and fix type in uploadImageToS3 service
  .github/workflows/cicd.yml
  .github/workflows/docker.yml
  client/src/lib/constant.ts
  src/services/uploadImageToS3.service.ts
Due: npm run lint:fix, prettier --write --ignore-unknown, npm run lint

feat: add Umami analytics script to index.html for website tracking
  client/index.html
Due: none

feat: add SSH commands to deploy Docker container in workflow
  .github/workflows/docker.yml
Due: none

feat: add contact us functionality to footer and update auto toast interval
  client/src/components/layout/Footer.tsx
  client/src/components/ui/github-stars-button.tsx
  client/src/hooks/useAutoToast.ts
  client/src/pages/home/Home.tsx
Due: npm run lint

Path conditions:
  npm run lint:fix: any of: ./src/**/*.{ts,tsx,json}
  prettier --write --ignore-unknown: any of: ./src/**/*.{ts,tsx,json}
  npm run lint: any of: ./client/src/**/*.{ts,tsx,json}
